---
layout: page
title: Beers
---
<h2>Beerlog</h2>

{% assign beer_files = site.data.lifelogging.beer %}

{% for beer_file in beer_files %}
	{% for beer in beer_file[1] %}
		{% capture beer_count %}{% increment beer_count %}{% endcapture %}
		{% if beer.style == 'belgian tripel' %}
			{% capture tripel_count %}{% increment tripel_count %}{% endcapture %}
		{% endif %}
	{% endfor %}
{% endfor %}

<p>These below are all the beers I have had since April 11, 2017.</p>


{% for beer_file in beer_files reversed %}
	<h3>{{ beer_file[1][0].date | date: "%B, %Y" }} ({{ beer_file[1] | size }} beers)</h3>
	<ul>
		{% for beer in beer_file[1] reversed %}
			<li>
				<strong>{{ beer.name }}</strong>
				&middot; Style: {{ beer.style }}
				{% if beer.serving %}&middot; Serving: {{ beer.serving }}{% endif %}
				&middot; ABV: {{ beer.abv }}%
				&middot; IBU: {{ beer.ibu }}
				{% if beer.flavor %}
					&middot; Flavor profile:
					{% for flavor in beer.flavor %}
						{{ flavor }}{% if flavor != beer.flavor.last %}, {% endif %}
					{% endfor %}
				{% endif %}
				&middot; Brewery: <a href="{% if beer.brewery.website %}{{ beer.brewery.website }}{% else %}https://www.google.nl/search?q={{ beer.brewery.name | url_encode }}{% endif %}"  target="_blank" rel="nofollow">{{ beer.brewery.name }}</a>
				&middot; Located in {{ beer.brewery.location }}
				{% include emojiflag.liquid location=beer.brewery.location %},
				it's a {{ beer.brewery.size }}.
				&middot; My rating: {{ beer.rating }}/5.
			</li>
		{% endfor %}
	</ul>
{% endfor %}
