---
layout: default
---
<div class="post-list">
	{% for post in paginator.posts %}
		<div class="post">
			<h2 class="post__title"><a class="post__title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h2>
			<span class="post__date">{{ post.date | date: "%B %-d, %Y" }}</span>
			{% if post.location %}
				&middot; <span class="post__location">{{ post.location }}</span>
			{% endif %}
			<div class="post__content">{{ post.content }}</div>
		</div><!-- .post -->
	{% endfor %}
</div><!-- .post-list -->

<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
		<span class="previous">Previous</span>
	{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
		<span class="next ">Next</span>
	{% endif %}
</div>

Render time: {% render_time %}
