html {
	background: var(--background-color);
	font-size: 2px;
}

body,
html,
pre {
	color: var(--text-color);
	line-height: 1.2;
	font-family: 'DepartureMono-Regular', 'Courier New', monospace;
	margin: 0;
	padding: 0;
}

pre {
	overflow: hidden;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

strong {
	color: #ffffff;
	background-color: #996666;
}

ul {
	list-style-position: inside;
	list-style-type: "- ";
	margin: 0;
	padding: 0 0 20px 0;
}

a:hover,
a:visited {
	text-decoration: line-through;
}

:root {

	/* --background-color: #111111;
	--text-color: #ff9900;
	--link-color: #ffffff; */

	font-synthesis: none;
	-webkit-font-smoothing: none;
	text-rendering: optimizeLegibility;

	/* @media (prefers-color-scheme: light) { */
	--background-color: #666699;
	--text-color: #000000;
	--link-color: #0066cc;
	/* } */
}

img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 10;
	background: var(--text-color);
	aspect-ratio: 3/2;
}

img.loaded {
	background: initial;
	aspect-ratio: initial;
}

p {
	margin: 0;
	padding: 0 0 20px 0;
}

h1,
h2 {
	color: var(--text-color);
	font-size: 11rem;
	margin: 0;
	padding: 0 0 20px 0;
}

.container {
	margin: 0 auto;
	width: 50%;
	background: var(--background-color);
	padding: 11rem 0;
	font-size: 11rem;
}

@media(max-width:1500px) {
	.container {
		width: 65%;
	}
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		width: 100%;
	}
}

.scanlines {
	position: fixed;
	pointer-events: none;
	width: auto;
	min-width: 100%;
	height: 100%;
	z-index: 5;
	/* background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)); */
	background-size: 100% 2px, 3px 100%;

	/* @media (prefers-color-scheme: light) { */
	background: linear-gradient(rgba(237, 239, 239, 0) 50%, rgba(255, 255, 255, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	/* } */
}

.date {
	color: var(--text-color);
}

.video-container {
	position: relative;
	z-index: 5;
}

.video-container-16-9 {
	padding-bottom: 56.25%;
}

.video-container-3-2 {
	padding-bottom: 66.6%;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pagination {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.pagination li {
	display: inline-block;
}

/** Mac OS 9 Window **/

.scanlines {
	position: fixed;
	pointer-events: none;
	width: auto;
	min-width: 100%;
	height: 100%;
	z-index: 5;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
}

.desktop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 11px;
	flex-direction: row;
	align-content: flex-start;
}

.desktop .icon {
	text-decoration: none;
	text-align: center;
	width: 200px;
}

.desktop .icon:hover {
	text-decoration: none;
}

.desktop .icon .icon-label {
	color: #000000;
	background: #ccccff;
	font-size: 22px;
	display: inline;
}

.desktop .icon .icon-picture {
	font-size: 50px;
}

.desktop .icon:nth-child(1) {
	top: 10rem;
	left: 10rem;
}

.window {
	background: #cccccc;
	outline: 1rem solid #333333;
	border-right: 1rem solid #999999;
	border-bottom: 1rem solid #999999;
	box-shadow: inset 1rem 1rem 0px #ffffff;
	padding: 3rem;
	position: relative;
}

body.collapsed .content-hole {
	display: none;
}

body.collapsed .corner {
	display: none;
}

body.collapsed .corner-inner {
	display: none;
}

body.collapsed .bars {
	display: none;
}

body.collapsed footer {
	display: none;
}

body.collapsed .desktop {
	position: relative;
	top: initial;
	bottom: initial;
	left: initial;
	right: initial;
}

.header {
	display: flex;
	gap: 4rem;
	padding-bottom: 3rem;
}

.hole {
	border-right: 1rem solid #ffffff;
	border-bottom: 1rem solid #ffffff;
	box-shadow: -1rem -1rem 0 #999999;
	margin: 1rem 0 0 1rem;
	background: #333333;
	padding: 1rem;
	position: relative;
}

.header .title {
	white-space: nowrap;
	line-height: 12rem;
	font-size: 11rem;
}

.header .button {
	height: 8rem;
	background: linear-gradient(135deg, #999999 0%, #ffffff 100%);
	border-top: 1rem solid #cccccc;
	border-left: 1rem solid #cccccc;
	width: 8rem;
	box-shadow: inset -1rem -1rem 0px #999999;
	position: relative;
	cursor: pointer;
}

.header .button-line::before {
	position: absolute;
	top: 2rem;
	left: 0;
	width: 8rem;
	height: 1rem;
	background: #333333;
	display: block;
	content: " ";
}

.header .button::after {
	position: absolute;
	top: -1rem;
	left: -1rem;
	width: 1rem;
	height: 1rem;
	background: #ffffff;
	display: block;
	content: " ";
}

.header .stripes {
	width: 100%;
}

.header .stripe {
	background: #ffffff;
	height: 1rem;
	box-shadow: 1rem 1rem 0 #999999;
	margin-bottom: 1rem;
}

.content {
	background: #ffffff;
	padding: 5rem;
}

.head {
	background: #cccccc;
	height: 100px;
	display: flex;
}

.head .button {
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.head .button .icon {
	font-size: 33px;
}

.corner {
	position: absolute;
	width: 13rem;
	height: 13rem;
	bottom: 5rem;
	right: 5rem;
	background: #cccccc;
	border-top: 1rem solid #333333;
	border-left: 1rem solid #333333;
}

.corner-inner {
	border-top: 1rem solid #ffffff;
	border-left: 1rem solid #ffffff;
	box-shadow: 1rem 1rem 0 #cccccc;
	position: absolute;
	width: 13rem;
	height: 13rem;
	bottom: 4rem;
	right: 4rem;
	background: #cccccc;
	cursor: grab;
}

.bars {
	transform: rotate(-45deg);
	position: absolute;
	bottom: 6rem;
	right: 5rem;
	pointer-events: none;
}

.bar {
	width: 9rem;
	background: #ffffff;
	box-shadow: 0 1rem 0 #999999;
	height: 1rem;
	margin-bottom: 1.5rem;
}

.netscape-logo {
	font-size: 40rem;
	font-weight: normal;
	font-family: serif;
	width: 50rem;
	height: 50rem;
	color: #ffffff;
	text-align: center;
	line-height: 45rem;
	text-shadow: 0 0 1rem #66ccff;
	position: absolute;
	top: 0;
	right: 0;
	background: radial-gradient(circle at center 188%, #000000 65%, #66ccff 65%, #009966 67%, #330066 80%, #000000 95%);
}

.netscape-logo::after {
	content: "";
	position: absolute;
	bottom: 25%;
	right: 22%;
	left: 56%;
	top: 63%;
	transform: rotate(8deg);
	overflow: hidden;
	background: black;
}

footer {
	margin-top: 22px;
}

footer .content {
	background: #000000;
	color: #ffffff;
}

footer pre {
	color: #ffffff;
}