body,
html {
	color: var(--text-color);
	line-height: 1.5;
	background: var(--background-color);
	font-family: 'Roboto Mono', Courier, monospace;
	font-size: var(--font-size);
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 10px 0;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

ul {
	list-style-position: inside;
	list-style-type: hiragana;
	margin: 0;
	padding: 10px 0;
}

a:hover,
a:visited {
	text-decoration: line-through;
}

:root {
	--background-color: #ffffff;
	--font-size: 18px;
	--text-color: #333399;
	--title-color: #333399;
}

img {
	display: block;
	width: 100%;
}

p {
	margin: 0;
	padding: 20px 0;
}

h1 {
	color: var(--text-color);
	font-size: var(--font-size);

	a {
		text-decoration: none;
	}
}

.container {
	margin: 0 auto;
	padding: 10px 0;
	width: 60%;

	@media (max-width: 1024px) {
		width: 80%;
	}
	
	@media (max-width: 700px) {
		width: 100%;
	}
}

footer a {
	text-decoration: underline;

	&:hover {
		text-decoration: line-through;
	}
}

.postlist {
	a {
		text-decoration: none;
	}
}
