html {
	background: var(--background-color);
}

body,
html {
	color: var(--text-color);
	line-height: 1;
	font-family: 'DepartureMono-Regular', 'Courier New', monospace;
	font-size: var(--font-size);
	margin: 0;
	padding: 0;
	letter-spacing: -0.8px;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

ul {
	list-style-position: inside;
	list-style-type: "☺ ";
	margin: 0;
	padding: 0 0 20px 0;
}

pre {
	padding: 0;
	margin: 0;
}

a:hover,
a:visited {
	text-decoration: line-through;
}

:root {
	--background-color: #ffffff;
	--font-size: 20px;
	--text-color: #000000;

	@media (prefers-color-scheme: dark) {
		--background-color: #000000;
		--text-color: #ffffff;
	}
}

img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 10;
	background: #a8ff00;
	aspect-ratio: 3/2;
}

img.loaded {
	background: initial;
	aspect-ratio: initial;
}

p {
	margin: 0;
	padding: 0 0 20px 0;
}

h1,
h2 {
	color: var(--text-color);
	font-size: var(--font-size);
	margin: 0;
	padding: 0 0 20px 0;
}

h1 a,
h2 a {
	text-decoration: none;
}

.container {
	padding: 0 10px;
	margin: 0 auto;
	width: 50%;
	background: var(--background-color);
}

.scanlines {
	position: fixed;
	pointer-events: none;
	width: auto;
	min-width: 100%;
	height: 100%;
	z-index: 5;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		padding: 10px 0;
		width: 100%;
	}

	pre {
		overflow: hidden;
	}
}

footer a {
	text-decoration: underline;
}

footer a:hover {
	text-decoration: line-through;
}

.postlist a {
	text-decoration: none;
}


.date {
	color: var(--text-color);
}

.video-container-container {
	padding: 18px 0;
}

.video-container {
	position: relative;
}

.video-container-16-9 {
	padding-bottom: 56.25%;
}

.video-container-3-2 {
	padding-bottom: 66.6%;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pagination {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.pagination li {
	display: inline-block;
}