html {
	background: var(--background-color);
}

body,
html {
	color: var(--text-color);
	line-height: 1.5;
	font-family: 'Courier New', monospace;
	font-size: var(--font-size);
	margin: 0;
	padding: 0;
	letter-spacing: -0.8px;
}

h1 {
	margin: 0;
	padding: 10px 0;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

ul {
	list-style-position: inside;
	list-style-type: circle;
	margin: 0;
	padding: 10px 0;
}

a:hover,
a:visited {
	text-decoration: line-through;
}

:root {
	--background-color: #ffffff;
	--font-size: 20px;
	--text-color: #333399;
	--title-color: #333399;
	--faded-text-color: #dddddd;

	@media (prefers-color-scheme: dark) {
		--background-color: #111111;
		--text-color: #9999cc;
		--title-color: #9999cc;
		--faded-text-color: #222222;
	}
}

img {
	display: block;
	width: 100%;
}

p {
	margin: 0;
	padding: 18px 0;
}

h1 {
	color: var(--text-color);
	font-size: var(--font-size);

	a {
		text-decoration: none;
	}
}

.container {
	margin: 0 auto;
	padding: 10px 0;
	width: 60%;
	background: var(--background-color);

	@media (max-width: 1024px) {
		width: 80%;
	}
	
	@media (max-width: 700px) {
		width: 100%;
	}
}

footer a {
	text-decoration: underline;

	&:hover {
		text-decoration: line-through;
	}
}

.postlist {
	a {
		text-decoration: none;
	}
}

.date {
	color: var(--text-color);
}

.video-container-container {
	padding: 18px 0;
}

.video-container {
	position: relative;

	&-16-9 {
		padding-bottom: 56.25%;
	}

	&-3-2 {
		padding-bottom: 66.6%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.post-page {
	.postlist {
		position: absolute;
		left: 10px;
		top: 54px;
		z-index: -1;

		a, li {
			color: var(--faded-text-color);
		}

		.date {
			color: var(--faded-text-color);
		}

		@media (max-width: 1024px) {
			display: none;
		}
	}
}