<div class="ourspace">
    <div class="header">
        <h1>andorspace.</h1>
        <div class="subtitle">a place for andor</div>
    </div>
    <div class="navbar">
    </div>
    <div class="content">
        <div class="left">

            {% include candystore.liquid file:"20241015_54_berlin_ma_zm35_portra800" title:"Andor Polgar" %}

            <div class="table">
                <div class="title">Andor's Interests</div>
                <div class="table-body">
                    <div class="cell heading">General</div>
                    <div class="cell">Internet, Photography, Reading, Philosophy, Lucid Dreaming, DIY electronics, Dead
                        Media, Digital Archiving, Weight Lifting, Travel</div>
                    <div class="cell heading">Music</div>
                    <div class="cell">Radiohead, The Smile, Wolf Alice, Susanne Sundfør, AURORA, Yonderboi, Gorillaz,
                        Queen, The Beatles, Lana Del Rey, Gabor Szabo, Cseh Tamás, Green Day, Charlotte Brandi,
                        Jeanette, Damon Albarn, Thom Yorke, Voom, Princess Chelsea, Akkezdet Phiai, Massive Attack,
                        Grimes, Caroline Polachek, Rammstein, Barkóczi Noémi, L.A. Suzi, Goran Bregović, Huun-Huur-Tu,
                        Karlheinz Stockhausen, Electric Light Orchestra, Jenny Hval, Foo Fighters, Goldfrapp, Paul
                        Simon, David Bowie, William Orbit, Broadcast, Mike Oldfield</div>
                </div>
            </div>

            <div class="table">
                <div class="title">Andor's Details</div>
                <div class="table-body">
                    <div class="cell heading">Status:</div>
                    <div class="cell">In a Relationship</div>
                    <div class="cell heading">Here for:</div>
                    <div class="cell">Networking, Friends</div>
                    <div class="cell heading">Hometown:</div>
                    <div class="cell">Sopron</div>
                    <div class="cell heading">Ethnicity:</div>
                    <div class="cell">White / Caucasian</div>
                    <div class="cell heading">Zodiac Sign:</div>
                    <div class="cell">Cat</div>
                    <div class="cell heading">Smoke / Drink:</div>
                    <div class="cell">Rarely / Sometimes</div>
                    <div class="cell heading">Occupation:</div>
                    <div class="cell">Just visiting</div>
                </div>
            </div>

        </div>
        <div class="right">

            <div class="extended-network">Andor is in your extended network</div>
            {{body}}
        </div>
    </div>
</div>