<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 2.0" />
    <meta name="description"
        content="Andor Polgar's (mostly) visual journal: here, you'll find my photography projects and random snapshots from my life." />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <style>
        @font-face {
            font-family: 'DepartureMono-Regular';
            src: url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff2') format('woff2'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff') format('woff'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="preload" href="/assets/{{css_file_name}}" as="style" />
    <link rel="preload" href="/assets/{{js_file_name}}" as="script" />
    <link rel="stylesheet" href="/assets/{{css_file_name}}" />
    <link rel="canonical" href="https://lepkef.ing/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <div class="scanlines"></div>
    <div id="dvd-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1058.4 465.8">
            <path fill="currentColor"
                d="M91 0 77 58h127c65 0 106 26 94 73-12 51-69 74-130 74h-23l30-126H72L29 262h145c109 0 213-57 231-131a139 139 0 0 0-7-70l1-4a484 484 0 0 0 4 6l93 260L731 58h124c65 0 106 26 95 73-12 51-70 74-131 74h-23l30-126H723l-43 183h145c109 0 213-57 231-131C1073 57 997 0 887 0H671l-68 81c-57 68-67 87-69 92 0-5-2-24-26-93L480 0H91zm409 324C224 324 0 356 0 395s224 71 500 71 500-32 500-71-224-71-500-71zm-18 49c63 0 114 10 114 23s-51 24-114 24-114-11-114-24 51-23 114-23z" />
        </svg>
    </div>
    <nav class="desktop">
        <a href="/aflordepiel" class="icon">
            <div class="icon-picture">🌸</div>
            <div class="icon-label">A Flor de Piel</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">🌍</div>
            <div class="icon-label">Andornet Explorer</div>
        </a>
        <a href="/posts/2024-10-20-berlin-video" class="icon">
            <div class="icon-picture">📹</div>
            <div class="icon-label">Berlin 2024.mov</div>
        </a>
        <a href="/posts/2024-10-30-spain" class="icon">
            <div class="icon-picture">🖼️</div>
            <div class="icon-label">Spain</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">NSFW Photos</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">Synths Photos</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">Writings</div>
        </a>
        <a href="/posts/2019-04-20-north-korea" class="icon">
            <div class="icon-picture">🇰🇵</div>
            <div class="icon-label">North Korea</div>
        </a>
        <a href="/links" class="icon">
            <div class="icon-picture">🔗</div>
            <div class="icon-label">Links</div>
        </a>
        <a href="/first-frames" class="icon">
            <div class="icon-picture">🎞️</div>
            <div class="icon-label">First Frames</div>
        </a>
        <a href="/light-meter" class="icon">
            <div class="icon-picture">💡</div>
            <div class="icon-label">The life of my light meter</div>
        </a>
        <a href="/postmortem" class="icon">
            <div class="icon-picture">👻</div>
            <div class="icon-label">Post-mortem.txt</div>
        </a>
        <a href="/about" class="icon">
            <div class="icon-picture">👨‍🔧</div>
            <div class="icon-label">About Me</div>
        </a>
        <a href="/prints" class="icon">
            <div class="icon-picture">🖨️</div>
            <div class="icon-label">Prints</div>
        </a>
        <a href="/privacy-policy" class="icon">
            <div class="icon-picture">🍪</div>
            <div class="icon-label">Privacy Policy</div>
        </a>
    </nav>
    <div class="container">
        <main class="window">
            <div class="header">
                <div class="hole">
                    <div class="button" id="button-close"></div>
                </div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="title" data-nosnippet>Andornet Explorer</div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="hole button-line">
                    <div class="button"></div>
                </div>
                <div class="hole" id="button-collapse">
                    <div class="button"></div>
                </div>
            </div>
            <div class="hole content-hole">
                <div class="head">
                    <div class="button" id="button-back" data-nosnippet>
                        <div class="icon">⬅️</div>
                        <div class="label">Back</div>
                    </div>
                    <div class="button" id="button-forward" data-nosnippet>
                        <div class="icon">➡️</div>
                        <div class="label">Forward</div>
                    </div>
                    <div class="button" id="button-reload" data-nosnippet>
                        <div class="icon">🔄</div>
                        <div class="label">Reload</div>
                    </div>
                    <div class="button" id="button-home" data-nosnippet>
                        <div class="icon">🏠</div>
                        <div class="label">Home</div>
                    </div>
                    <div class="button" id="button-print" data-nosnippet>
                        <div class="icon">🖨️</div>
                        <div class="label">Print</div>
                    </div>
                    <div class="netscape-logo" data-nosnippet>A</div>
                </div>
                <div class="content">
                    {{body}}
                </div>
            </div>
            <div class="corner">
            </div>
            <div class="corner-inner">
            </div>
            <div class="bars">
                <div class="bar">
                </div>
                <div class="bar">
                </div>
                <div class="bar">
                </div>
            </div>
        </main>
    </div><!-- .container -->
    <script src="/assets/{{js_file_name}}"></script>
</body>

</html>