<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 2.0" />
    <meta name="description"
        content="Andor Polgar's (mostly) visual journal: here, you'll find my photography projects and random snapshots from my life." />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <style>
        @font-face {
            font-family: 'DepartureMono-Regular';
            src: url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff2') format('woff2'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff') format('woff'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="preload" href="/{{css_file_name}}" as="style" />
    <link rel="stylesheet" href="/{{css_file_name}}" />
    <link rel="canonical" href="https://lepkef.ing/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <div class="scanlines"></div>
    <nav class="desktop">
        <a href="/aflordepiel" class="icon">
            <div class="icon-picture">🌸</div>
            <div class="icon-label">A Flor de Piel</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">🌍</div>
            <div class="icon-label">Andornet Explorer</div>
        </a>
        <a href="/posts/2024-10-20-berlin-video" class="icon">
            <div class="icon-picture">📹</div>
            <div class="icon-label">Berlin 2024.mov</div>
        </a>
        <a href="/posts/2024-10-30-spain" class="icon">
            <div class="icon-picture">🖼️</div>
            <div class="icon-label">Spain</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">NSFW Photos</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">Synths Photos</div>
        </a>
        <a href="/" class="icon">
            <div class="icon-picture">📂</div>
            <div class="icon-label">Writings</div>
        </a>
        <a href="/posts/2019-04-20-north-korea" class="icon">
            <div class="icon-picture">🇰🇵</div>
            <div class="icon-label">North Korea</div>
        </a>
        <a href="/links" class="icon">
            <div class="icon-picture">🔗</div>
            <div class="icon-label">Links</div>
        </a>
        <a href="/first-frames" class="icon">
            <div class="icon-picture">🎞️</div>
            <div class="icon-label">First Frames</div>
        </a>
        <a href="/light-meter" class="icon">
            <div class="icon-picture">💡</div>
            <div class="icon-label">The life of my light meter</div>
        </a>
        <a href="/postmortem" class="icon">
            <div class="icon-picture">👻</div>
            <div class="icon-label">Post-mortem.txt</div>
        </a>
        <a href="/about" class="icon">
            <div class="icon-picture">👨‍🔧</div>
            <div class="icon-label">About Me</div>
        </a>
        <a href="/prints" class="icon">
            <div class="icon-picture">🖨️</div>
            <div class="icon-label">Prints</div>
        </a>
    </nav>
    <div class="container">
        <main class="window">
            <div class="header">
                <div class="hole">
                    <div class="button" id="button-close"></div>
                </div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="title" data-nosnippet>Andornet Explorer</div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="hole button-line">
                    <div class="button"></div>
                </div>
                <div class="hole" id="button-collapse">
                    <div class="button"></div>
                </div>
            </div>
            <div class="hole content-hole">
                <div class="head">
                    <div class="button" id="button-back" data-nosnippet>
                        <div class="icon">⬅️</div>
                        <div class="label">Back</div>
                    </div>
                    <div class="button" id="button-forward" data-nosnippet>
                        <div class="icon">➡️</div>
                        <div class="label">Forward</div>
                    </div>
                    <div class="button" id="button-reload" data-nosnippet>
                        <div class="icon">🔄</div>
                        <div class="label">Reload</div>
                    </div>
                    <div class="button" id="button-home" data-nosnippet>
                        <div class="icon">🏠</div>
                        <div class="label">Home</div>
                    </div>
                    <div class="button" id="button-print" data-nosnippet>
                        <div class="icon">🖨️</div>
                        <div class="label">Print</div>
                    </div>
                    <div class="netscape-logo" data-nosnippet>A</div>
                </div>
                <div class="content">
                    {{body}}
                </div>
            </div>
            <div class="corner">
            </div>
            <div class="corner-inner">
            </div>
            <div class="bars">
                <div class="bar">
                </div>
                <div class="bar">
                </div>
                <div class="bar">
                </div>
            </div>
        </main>
        <footer class="window">
            <div class="header">
                <div class="hole">
                    <div class="button" id="button-close"></div>
                </div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="title" data-nosnippet>Terminal</div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="hole button-line">
                    <div class="button"></div>
                </div>
                <div class="hole" id="button-collapse">
                    <div class="button"></div>
                </div>
            </div>
            <div class="hole content-hole">
                <div class="content">
                    <p>Don't worry, my website doesn't collect your
                        personal information nor does it share any of it with snoopy third-party analytics services. 🍪
                        You don't have to believe me, you can see it yourself by looking at the source code on <a
                            href="https://github.com/andormade/lepkef.ing" target="_blank">GitHub</a>. | I'm okay
                        with my photos
                        being used for
                        training AI Models, and I love my AI Overlords. ❤️🤖 | Website last updated on
                        {{ generated_date }} Unix Time
                    </p>
                    <pre data-nosnippet>
___.
\_ |__ ___.__. ____ 
 | __ <   |  |/ __ \ 
 | \_\ \___  \  ___/
 |___  / ____|\___  > 
     \/\/         \/ 
</pre>
                </div>
            </div>
        </footer>
    </div><!-- .container -->
    <script type="text/javascript">
        document.getElementById('button-collapse').addEventListener('click', function (event) {
            document.body.classList.toggle('collapsed');
        });
        document.getElementById('button-close').addEventListener('click', function () {
            document.querySelectorAll('.window').forEach((window) => window.remove());
        });
        document.getElementById('button-back').addEventListener('click', function () {
            window.history.back();
        });
        document.getElementById('button-forward').addEventListener('click', function () {
            window.history.forward();
        });
        document.getElementById('button-reload').addEventListener('click', function () {
            window.location.reload();
        });
        document.getElementById('button-home').addEventListener('click', function () {
            window.location.href = '/';
        });
        document.getElementById('button-print').addEventListener('click', function () {
            window.location.href = '/prints';
        });
    </script>
</body>

</html>