---
layout: post
title: 'First Frames'
date: 2025-01-19 19:00:00 -0100
location: 'Zandvoort, Netherlands'
---

<style>
    .andr {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #000000;
    }

    .andr h1 {
        color: #0063dc;
        font-size: 60px;
    }

    .andr h1 .r {
        color: #ff0084;
    }
</style>

<div class="andr">
    <div class="header">
        <h1>and<span class="r">r</span></h1>
    </div>


    <h2>First Frames</h2>

    <p>Every frame of a film roll is valuable. A kind of value I could exchange for instant happiness, like half a bar
        of
        dark chocolate. (as of 2024)<br />
        But instead, I take my time, carefully arranging the model, finding a new pose for every shot. No two can be the
        same, that would be wasteful.<br />
        I double-check the settings over and over to make sure nothing goes to waste.<br />
        And then they tell me to skip the first frame because it’s already been exposed to light during loading.<br />
        Yeah, right!</p>

    {% include candystore.liquid file:"20210919_25_david_m8_portra800_8200i" title:"" %}
    {% include candystore.liquid file:"20210925_75_whotel_m8_portra800_8200i" title:"" %}
    {% include candystore.liquid file:"20211104_65_peyton_m6_portra800_8200i" title:"" %}
    {% include candystore.liquid file:"20220115_1_julia_leo_portra800_m6_8200i" title:"" %}
    {% include candystore.liquid file:"20220130_26_femke_portra800_m6_8200i" title:"" %}
    {% include candystore.liquid file:"20220306_3_poland_portra800_m6" title:"" %}
    {% include candystore.liquid file:"20221023_1_emma_manya_portra800_ma" title:"" %}
    {% include candystore.liquid file:"20240227_105_marianna_ma_35zm_portra800" title:"" %}

</div>