---
layout: page
title: 'In case I get hit by a bus'
date: 2022-10-28 19:00:00 -0100
location: 'Zandvoort, Netherlands'
---

<p>Hey friends,</p>

<p>a kinda morbid heads-up: in case I ever have an unexpected meet-up with a <a href="https://en.wikipedia.org/wiki/Bus_factor">bus</a>, you should know that my online stuff won't be available for long.</p>

<p>All of my photos, videos, and documents are stored on a DigitalOcean server, so if I hit the big "log off", my account and domain names will only last for a year from the time of my passing, and after that all my files will be deleted.</p>

<p>To be honest, I’m not too bothered about my digital legacy vanishing, but if there's anything in it that holds sentimental value to you, please make sure you save it before it's too late. If you don't download the files in time, then I'm afraid you'll have to retrieve them from the Akashic records.</p>

<p>I'm really grateful for all the memories we've created.</p>

<p>Forever yours, Andor</p>

<p>In the unfortunate event of my sudden death, the entire contents of this website will be hereby assigned as <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">Creative Commons CC0 1.0 Public Domain</a> (Why wait 70 years?)</p>
