---
layout: page
title: 'Prints'
date: 2025-01-07 19:00:00 -0100
location: 'Zandvoort, Netherlands'
---

<p>Have you ever thought about why you buy art?</p>

<p>Is it because you find pleasure seeing it in a physical format, taking in the details up close?</p>

<p>Or maybe it’s about decorating your space, sending social signals, showing your taste or values, telling people how much you paid for it?</p>

<p>Or simply enjoying the idea that you own something exclusive from a first edition limited run?</p>

<p>Don’t get me wrong, these are all valid reasons — I myself own art for all of these reasons and more.</p>

<p>But what if I told you that I’m not selling prints at all, and you’re free to download any image from my website and print it as large as you like?</p>

<p>Would that make you feel disappointed?</p>

<p>Would that change how you feel about owning art?</p>