$serif-font: "Roboto Slab", Georgia, serif;
$sans-serif-font: "Roboto", Arial, sans-serif;

$layout-breakpoint: 500px;
$max-width: 800px;

$site-title-color: #dddddd;

$post-title-color: #333333;
$post-text-color: #333333;
$post-link-color: #336699;
