$serif-font: "Roboto Slab", Georgia, serif;
$sans-serif-font: "Roboto", Arial, sans-serif;

$layout-breakpoint: 50rem;
$max-width: 80rem;
$spacing: 2rem;
$spacing-mobile: $spacing / 2;

$text-color: #333333;
$link-color: #336699;
