html {
	font-size: 62.5%;
}

img {
	display: block;
}

.wrapper {
	margin: 0 auto;
	max-width: $max-width;
	min-width: $layout-breakpoint;
	width: 70%;
	padding: 20px 0;

	@media (max-width: $layout-breakpoint) {
		max-width: auto;
		min-width: auto;
		width: 100%;
	}
}

.video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
