.default-font {
	color : $text-color;
	font-size: 14px;
	font-family: $font-family;
	font-weight: normal;
	line-height: 2;
	text-decoration: none;
}

.spacing {
	padding-bottom: 5%;
	padding-top: 5%;
}

html {
	background: #eeeeee;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #eeeeee;
	margin: 0;
	padding: 0;
}

a {
	@extend .default-font;

	background-color: transparent;
	color: $link-color;
	outline-width: 0;
	text-decoration: underline;
	-webkit-text-decoration-skip: objects;
}

img {
	border-style: none;
	display: block;
	padding: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	@extend .default-font;
	@extend .spacing;

	margin: 0;
}

span {
	@extend .default-font;
}

strong {
	@extend .default-font;
	font-weight: bold;
}

ul {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}

li {
	@extend .default-font;
}

p {
	@extend .spacing;
}