.pagination {
	font-family: $serif-font;
	font-size: 2rem;
	line-height: 3.2rem;
	padding: $spacing 0;

	&__link {
		color: $post-link-color;

		&:visited {
			color: $post-link-visited-color;
		}
	}

	@media (max-width: $layout-breakpoint) {
		padding-bottom: $spacing-mobile;
		padding-top: $spacing-mobile;
	}
}
