.header {
	padding: $spacing 0;

	&__title {
		@extend .default-font;
		color: $site-title-color;
		margin: 0;
		max-width: 50rem;
		padding: 0;
	}

	@media (max-width: $layout-breakpoint) {
		padding-bottom: $spacing-mobile;
		padding-top: $spacing-mobile;
	}
}
