.post {
	color: $post-text-color;
	font-size: 2rem;
	font-family: $serif-font;
	line-height: 3.2rem;
	word-spacing: 0.1rem;

	&__details {
		padding: 0 0 1rem 0;
	}

	&__title {
		color: $post-title-color;
		font-size: 2rem;
		line-height: 3.2rem;
		font-family: $serif-font;
		font-weight: normal;
		margin: 0;
		padding: 1rem 0 0 0;
		text-decoration: none;
	}

	&__date {
		font-size: 2rem;
		line-height: 3.2rem;
	}

	p {
		margin: 0;
		padding: 1rem 0;
	}

	&__content {
		img {
			display: block;
			width: 100%;
		}

		a {
			color: $post-link-color;
			text-decoration: underline;

			&:visited {
				color: $post-link-visited-color;
			}
		}
	}

	&__tag {
		color: $post-link-color;
		text-decoration: none;
	}
}
