<p><a href="https://static.llllllllllll.com/andor/images/{{ file }}_original.jpg"><img src="https://static.llllllllllll.com/andor/images/{{ file }}.jpg" alt="{{ title }}" title="{{ title }}" loading="lazy" onload="this.classList.add('loaded');" /></a></p>
