<div class="video-container-container">
    <video width="100%" controls preload="metadata">
        <source src="https://static.llllllllllll.com/andor/videos/{{id}}" type="video/mp4">
    </video>
</div>