<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <link rel="preload" href="/assets/{{style.css}}" as="style" />
    <link rel="stylesheet" href="/assets/{{style.css}}" />
    <link rel="canonical" href="https://polgarhivatal.nl/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        {{body}}


        <h2>Open Source Projects</h2>
        <ul>
            <li><a href="https://github.com/andorthehood/8f4e" target="_blank">8f4e</a>: A stack-oriented programming language with a semi-visual live code editor.</li>
            <li><a href="https://github.com/andorthehood/mod-sample-extractor" target="_blank">mod-sample-extractor</a>: A tool to extract PCM samples from MOD files.</li>
            <li><a href="https://github.com/andorthehood/epson-tm-u220-driver-node" target="_blank">epson-tm-u220-driver-node</a>: A Node.js driver TypeScript driver for the Epson TM-U220* receipt printers.</li>
        </ul>


        <div class="footer">
            <div class="footer-content">Andor Polgár<br> Freelance Software Engineer<br> KvK Number: 85380377</div>
            <div class="footer-content">
                <a href="https://github.com/andorthehood" target="_blank">github.com/andorthehood</a><br />
                <a href="https://www.linkedin.com/in/andorstaffed" target="_blank">linkedin.com/in/andorstaffed</a>
            </div>
        </div>


    </div><!-- .container -->
</body>

</html>