<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <link rel="preload" href="/{{css_file_name}}" as="style" />
    <link rel="stylesheet" href="/{{css_file_name}}" />
    <link rel="canonical" href="https://polgarhivatal.nl/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <div class="container">
        {{body}}
    </div><!-- .container -->
</body>

</html>