.ourspace {
    font-family: verdana, arial, sans-serif, helvetica;
    font-size: 11px;
}

.content {
    padding: 0;
}

.ourspace .header {
    background-color: #003399;
    color: #ffffff;
    height: 50px;
    padding: 10px;
}

.ourspace .navbar {
    background-color: #6699cc;
}

.ourspace .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.ourspace .left {
    width: 40%;
}

.ourspace .right {
    width: 60%;
}

@media (max-width: 800px) {
    .ourspace .content {
        flex-direction: column;
    }

    .ourspace .left,
    .ourspace .right {
        width: 100%;
    }
}

.ourspace .table {
    border: 1px solid #6699cc;
}

.ourspace .table .title {
    background-color: #6699cc;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
}

.ourspace .table-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3px;
    padding: 3px;
}

.ourspace .table-body .cell {
    background-color: #d5e8fb;
    padding: 3px;
}

.ourspace .table-body .heading {
    background-color: #b1d0f0;
    color: #336699;
    font-weight: bold;
}

.extended-network {
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #000000;
    text-align: center;
}

.ourspace h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.ourspace h2 {
    background: #ffcc99;
    color: #ff6600;
    font-size: 12px;
    font-weight: bold;
}

.ourspace h3 {
    color: #ff6600;
    font-size: 12px;
    font-weight: bold;
}