---
layout: default
---

<div class="post-list">
	{% for post in page.paginator.posts %}
		<div class="post">
			<div class="post__details">
				<h2 class="post__title"><a class="post__title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h2>
				<span class="post__date">{{ post.date | date: "%B %-d, %Y" }}</span>
				{% if post.location %}
					&middot; <span class="post__location">{{ post.location }}</span>
				{% endif %}
				<!--{% if post.tags %}
					&middot; Tags: {% include tags.liquid tags=post.tags %}
				{% endif %}-->
			</div>
			<div class="post__content">{{ post.content }}</div>
		</div><!-- .post -->
	{% endfor %}
</div><!-- .post-list -->

<div class="pagination">
	{% if page.paginator.previous_page %}
		<a href="{{ page.paginator.previous_page_path }}" class="pagination__link">Previous</a> &middot;
	{% endif %}

	<span class="pagination__page-number ">Page: {{ page.paginator.page }} of {{ page.paginator.total_pages }}</span>

	{% if page.paginator.next_page %}
		&middot; <a href="{{ page.paginator.next_page_path }}" class="pagination__link">Next</a>
	{% endif %}
</div>
