<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 2.0" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <link rel="preload" href="/{{css_file_name}}" as="style" />
    <link rel="stylesheet" href="/{{css_file_name}}" />
    <link rel="canonical" href="https://andor.cool/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>
<body>
    <div class="container">
        <h1><a href="/">Andor Polgar's visual journal</a></h1>
        <p>Hi there 👋 My name is Andor Polgar. This is my personal website. Here, you'll find random snapshots from
            my life, occasional visual art created with friends, and sometimes my thoughts and reflections on
            life.<br>---
        </p>
        {{body}}
        <footer>
            {% if camera %} vam title {% endif %}
            <p>---<br><a href="/aflordepiel">A Flor de Piel (2022) 🔞</a> | Social media: <a
                    href="https://instagram.com/andorcover" target="_blank">@andorcover</a>,<!-- --> <a
                    href="https://www.youtube.com/channel/UCF_EgDIkYFIeu-19KleLnFA" target="_blank">YouTube</a>,<!-- -->
                <a href="/links">Other links</a> |<!-- --> <!-- -->Don't worry, my website doesn't collect your
                personal information or share it with any snoopy third-party analytics services. 🍪 You don't have to
                believe me, you can verify this yourself by checking the source code on<!-- --> <a
                    href="https://github.com/andormade/andor.cool" target="_blank">GitHub</a>. | I'm okay with my photos
                being used for
                training AI models, and I love my AI overlords. ❤️🤖 | <a href="/about">About Me</a> 👨‍🔧 | <a
                    href="/postmortem">Post-mortem</a> 👻
            </p>
        </footer>
    </div>
</body>

</html>