<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 2.0" />
    <meta name="description"
        content="Andor Polgar's (mostly) visual journal: here, you'll find my photography projects and random snapshots from my life." />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <style>
        @font-face {
            font-family: 'DepartureMono-Regular';
            src: url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff2') format('woff2'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff') format('woff'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="preload" href="/{{css_file_name}}" as="style" />
    <link rel="stylesheet" href="/{{css_file_name}}" />
    <link rel="canonical" href="https://andor.cool/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <div class="scanlines"></div>
    <div class="container">
        <div class="window">
            <div class="header">
                <div class="hole">
                    <div class="button"></div>
                </div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="title" data-nosnippet>Andornet Explorer</div>
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="hole button-line">
                    <div class="button"></div>
                </div>
                <div class="hole">
                    <div class="button"></div>
                </div>
            </div>
            <div class="hole">
                <div class="content">
                    <div class="netscape-logo" data-nosnippet>N</div>
                    <pre data-nosnippet>
                   ___ 
_____    ____   __| _/ ____ _______ 
\__  \  /    \ / __ | / __ \\_  __ \
 / __ \_   |  \ /_/ |(  \_\ )|  | \/ 
(____  /___|  /____ | \____/ |__|
     \/___  \/___  \/___ |  | 
     / ___\ / __ \ / __ \|  |  
    |  \___(  \_\ )  \_\ )  |__
/\   \___  /\____/ \____/|____/
\/ <a href="\">Andor's</a> \/ <a href="/">Visual Journal</a>    
        </pre>



                    {{body}}
                    <footer>
                        <p>---<br /><a href="/aflordepiel">A Flor de Piel (2022) 🔞</a> | Social Media: <a
                                href="https://instagram.com/andorcover" target="_blank">@andorcover</a>, <a
                                href="https://www.youtube.com/channel/UCF_EgDIkYFIeu-19KleLnFA"
                                target="_blank">YouTube</a>,
                            <a href="/links">Other links</a> | Don't worry, my Website doesn't collect your
                            Personal Information and share it with snoopy third-party Analytics Services. 🍪 You don't
                            have to
                            believe me, you can see it yourself by looking at the Source Code on <a
                                href="https://github.com/andormade/andor.cool" target="_blank">GitHub</a>. | I'm okay
                            with my Photos
                            being used for
                            training AI Models, and I love my AI Overlords. ❤️🤖 | Website last updated on {{
                            generated_date }} Unix Time
                        </p>
                        <pre data-nosnippet>
___. <a href="/">Index page</a>
\_ |__ ___.__. ____ <a href="/about">About Me 👨‍🔧</a>
 | __ <   |  |/ __ \ <a href="/postmortem">Post-mortem 👻</a>
 | \_\ \___  \  ___/ <a href="/bookshelf">Books</a>
 |___  / ____|\___  > <a href="/prints">Prints</a>
     \/\/ <a href="/page1">Blog</a>    \/ 
            </pre>
                    </footer>


                </div>
            </div>
            <div class="corner">
            </div>
            <div class="corner-inner">
            </div>
            <div class="bars">
                <div class="bar">
                </div>
                <div class="bar">
                </div>
                <div class="bar">
                </div>
            </div>
        </div>
    </div>
</body>

</html>